
// Style Stripping 
body,
p,
h1,
h2,
ul,
span,
h3 {
    margin: 0;
    padding: 0;
}

// Set Root Font Size to 10px 
html {
     font-size: 62.5%;
}

body {
     font-family: $secondary-font;
     font-size: 2rem;
     line-height: 3.2rem;
}

.wrapper {
     width: 85%;
     max-width: 1250px;
     margin: 0 auto;
}

img {
     width: 100%;
     height: auto;
     display: block;
}

a {
     text-decoration: none;
     color: #000;
}
