
// Style Stripping 
body,
p,
h1,
h2,
ul,
span,
ul,
h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Set Root Font Size to 10px 
html {
     font-size: 62.5%;
     scroll-behavior: smooth;
}

body {
     font-family: $primary-font;
     font-size: 2rem;
}

.wrapper {
     width: 90%;
     max-width: 1250px;
     margin: 0 auto;
}

img {
     width: 100%;
     height: auto;
     display: block;
}

a {
     text-decoration: none;
     color: $light-text-color;
}

// creates line breaks where needed on spans 
.span-break {
    display: block;
}

.section__btn {
     padding: 10px 15px;
     background: $secondary-color;
     color: $light-text-color;
     transition: background .5s;

     &:hover {
          background: lighten($secondary-color, 10);
     }
     &:focus {
          background: lighten($secondary-color, 10);
          border: 2px solid $primary-color;
     }
}
