//-------------
// Headers---
//-------------

// Main header 
.main-header {
    position: relative;
    min-height: 75vh;
    background: url("../assets/home-image-1.jpg") no-repeat scroll center/cover;

    &__heading-box {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        color: $light-text-color;
        font-size: 16.6rem;
        font-weight: 400;
        z-index: 20;
        .yellow-heading {
            display: block;
        }
    }

    &__img {
        width: 40%;
        position: absolute;
        bottom: -50px;
        right: 0%;
    }
}

// Nav block (styles across all three pages)
.nav {
    display: flex;
    padding: 20px 0;

    // Mobile check box hidden 
    &__check, .nav__check-label {
        display: none;
    }

    &__logo {
        font-size: 3rem;
        padding-right: 20px;
        color: $light-text-color
    }

    &__ul {
        display: flex;
        align-items: center;
    }

    &__li {
        transition: all .5s;
        &:hover {
            transform: translateY(-5px);
        }
    }

    &__link {
        font-size: 2rem;
        text-transform: uppercase;
        color: $light-text-color;
        padding: 0 20px;
        transition: all .8s;

        &:hover,
        &:focus {
            color: $primary-color;
            text-shadow: -1px 2px 8px $primary-color;
        }
    }
}

// Current Page Nav Colours 
.current-page {
    color: $primary-color;
}
// General headings 
h1 {
    font-size: 8rem;
    animation: fade-in 2s ease-in .3s normal both;
    margin-bottom: 40px;
}

// Animation keyframe 
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

// Yellow headings 
.yellow-heading {
    color: $primary-color;
}

// Blog/contact page styles 
.contact-header {
    background: url("../assets/contact-header-1.jpg") no-repeat scroll center/cover;
    min-height: 75vh;
}

.blog-header {
    background: url("../assets/blog-header-1.jpg") no-repeat scroll center/cover;
    min-height: 75vh;    
}

// dark background on contact/blog nav pages 
.contact-nav-container,
.blog-nav-container {
    background: #000;
    padding: 10px 0;
}

.nav-container {
    display: flex;
}

// flex for contact/blog page heading
.secondary-h1-container {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



