//-------------
// Headers---
//-------------

// Main header 
.main-header {
    position: relative;
    min-height: 75vh;
    background: url("../assets/home-image-1.jpg") no-repeat scroll center/cover;

    &__heading-box {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        color: $light-text-color;
        font-size: clamp(7rem, 9.5vw, 16.6rem);
        font-weight: 400;
        z-index: 20;

        .yellow-heading {
            display: block;
        }
    }

    &__img {
        width: 40%;
        position: absolute;
        bottom: -50px;
        right: 0%;
    }
}

// Nav block (styles across all three pages)
.nav {
    display: flex;
    padding: 20px 0;

    &__logo {
        font-size: clamp(3rem, 2.2vw, 3.6rem);
        padding-right: 20px;
        color: $light-text-color
    }

    // Skip link style/position 
    &__skip {
        position: absolute;
        left: -1000px;
        top: 5px;
        z-index: 999;
        padding: 10px 15px;
        background: $secondary-color;
        color: $light-text-color;
        transition: all .5s;

        &:focus {
            left: 50%;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
    }

    &__li {
        transition: all .5s;
        &:hover {
            transform: translateY(-5px);
        }
    }

    &__link {
        font-size: 2rem;
        text-transform: uppercase;
        color: $light-text-color;
        padding: 0 20px;
        transition: all .8s;

        &:hover,
        &:focus {
            color: $primary-color;
            text-shadow: -1px 2px 8px $primary-color;
        }
    }
}

// Current Page Nav Colours 
.current-page {
    color: $primary-color;
}

// Yellow headings 
.yellow-heading {
    color: $primary-color;
}

// Blog/contact page styles 
.contact-header {
    background: url("../assets/contact-header-1.jpg") no-repeat scroll center/cover;
    min-height: 75vh;
}

.blog-header {
    background: url("../assets/blog-header-1.jpg") no-repeat scroll center/cover;
    min-height: 75vh;    
}

// dark background on contact/blog nav pages 
.contact-nav-container,
.blog-nav-container {
    background: #000;
    padding: 10px 0;
}

.nav-container {
    display: flex;
}

// flex for contact/blog page heading
.secondary-h1-container {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



