// Header Styles
.main-header {
    background: url("../assets/home-image-1.jpg") no-repeat scroll center/cover;
    height: 100vh;
    position: relative;
        .wrapper {
            height: 100%;
        }
        h1 {
            font-family: $primary-font;
            font-size: 16.6rem;
            font-weight: 400;
            z-index: 20;
            padding-top: 100px;
                .yellow-heading {
                    color: $primary-color;
                    display: block;
                    margin-top: -70px;
                }
        }
        img {
            width: 50%;
            position: absolute;
            bottom: -50px;
            right: 0%;
        }
}

.contact-header {
    background: url("../assets/contact-header-1.jpg") no-repeat scroll center/cover;
    height: 75vh;
}

.blog-header {
    background: url("../assets/blog-header-1.jpg") no-repeat scroll center/cover;
    height: 75vh;    
}

// Nav Styles (General-> Specific)
nav {
    display: flex;
    padding: 20px 0;
        .logo {
            font-size: 3rem;
            padding-right: 20px;
            color: $light-text-color;
        }
        ul {
            display: flex;
            align-items: center;
                li {
                    transition: all .5s;

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
                a {
                    font-size: 2rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $light-text-color;
                    padding: 0 20px;
                    transition: all .8s;

                    &:hover,
                    &:focus {
                        color: $primary-color;
                        text-shadow: -1px 2px 8px $primary-color;
                    }
                }
        }
}

// Current Page Nav Colours 
.nav-home {
    color: $primary-color;
}

.nav-container {
    display: flex;
}
.contact-nav-container,
.blog-nav-container {
    background: $body-text-color;
}

.nav-contact {
    color: $primary-color;
}

.nav-blog {
    color: $primary-color;
}

// h1 Styles 
.h1-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-h1-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.yellow-heading {
    color: $primary-color;
}

.span-break {
    display: block;
}
