// Main Sections Styles

// About section 
.about-section {
    background: $background-color;
    text-align: center;
    padding: 200px 150px;
}

.section__heading {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.section__heading--lrg {
    font-size: 5.63rem;
}

.section__text {
    font-family: $secondary-font;
    margin-bottom: 25px;
    line-height: 3.2rem;
}

// **** link buttons in general styles 

// Article section 

.article-flex {
    display: flex;
    justify-content: space-between;
}
// General column style 
.article-section__column {
    width: 40%;
}

.article-section__text-box {
    margin: 75px 0 30px 0;
}

// Left column style 
.article-section__column--l {
    text-align: right;
    
}

.article-section__img-l {
    box-shadow: 15px 15px $primary-color;
    position: relative;
    top: -15px;
    right: 15px;
    //mess with width to get it outside container. or keep it out of wrapper
}

// Right column style 

.article-section__column--r {
    text-align: left;
}

.article-section__img-r {
    box-shadow: -15px -15px $primary-color;
    position: relative;
    bottom: -15px;
    left: 15px;
}

// More info section 

.more-info {
    background: $background-color;
    padding: 100px 0;
}

.more-info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50% 50%;
}

// Banner image 

.banner{
    background: url("../assets/banner-image.jpg") no-repeat center/cover; 
    height: 40vh;
}

// Founder section 

.founder-section {
    background: $background-color;
    padding: 75px;
}

.founder-container {
    display: flex;
    justify-content: space-between;
}

.founder-section__img {
    box-shadow: 10px 10px $primary-color;
    margin-right: 75px;
}

// Gallery section styles 

.gallery-section__ul {
    display: flex;
    padding: 75px
}

.gallery-section__li {
    overflow: hidden;
}

.gallery-section__li--center {
    margin: 0 20px;
}

.gallery-section__img {
    transition: transform .5s;

    &:hover {
        transform: scale(1.25);
    }
}


//----Blog Page----

.main-blog {
    background: $background-color;
    display: flex;
}

// Sidebar section









// .sidebar {
//     margin: 75px 40px 0 50px;
//     height: 100%;
//     width: 40%;
//     background: white;
// }

// .sidebar__img {
//     width: 100%;
//     margin-left: -75px;
//     margin-top: -20px;
// }

// .sidebar__text {
//     padding: 20px;;
// }

// .section__link-text {
//     color: $secondary-text-color;
// }

// .aside__list-items a {
//     color: $body-text-color;
// }

//blog section

.blog-section {
    width: 75%;
}

.blog-section__img {
    box-shadow: -15px 15px $primary-color;
    margin-top: -100px;
    position: relative;
    left: 15px;
}

.blog-post {
    padding: 50px 0 0 20px;
    border-left: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
}

// Comments

.comments {
    padding: 30px;

    &__heading {
        margin-bottom: 40px;
    }

    &__container {
        display: flex;
        margin-bottom: 70px;
    }

    &__img {
        max-height: 100px;
        max-width: 100px;
        margin-right: 20px; 
    }

    &__heading--date {
        margin-bottom: 10px;
        color: $secondary-text-color;
        font-size: 2rem;
        
    }
}

//comment form

.form {

    &__fieldset {
        border: none;
    }

    &__input {
        border: none; // Was this needed?
        border-bottom: 2px solid $secondary-color;
        padding: 20px;
        width: calc(50% - 15px);

        background: $background-color;

        font-family: $primary-font;
        font-size: 1.8rem;
    }

    &__input--margin {
        margin-right: 20px;
    }

    &__message {
        border: 2px solid $secondary-color;
        display: block;
        width: 100%;
        margin: 50px 0;
        padding: 20px;

        background: $background-color;

        font-family: $primary-font;
        font-size: 1.8rem;
        
        resize: none;
    }

    &__btn {
        display: block;
        width: 100%;
        border: none;
    }
}

//----Contact Page----

.main-contact {
    max-height: 50vh;
    background: $background-color;
}

// Flex container 
.contact-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Address block 

.address {
    width: 25%;
    line-height: 1.5;
    
    &__ul {
        display: flex;
    }

    &__socials-link {
        padding-right: 20px;

        i {
            color: $secondary-color;
            font-size: 2.4rem;
            transition: transform .5s;

            &:hover {
                transform: scale(1.25);
            }
        }

        &:focus   {
            transform: scale(1.25);
            border: 1px solid $secondary-color;
        }
    
    }

    &__email {
        margin: 15px 0;
    }

    &__email-link {
        color: $body-text-color;
        font-size: 2.4rem;
        font-weight: bold;
    }
}

// Form block (main styles declared in blog section)
.main-contact .form {
    width: 60%;

    &__fieldset--contact {
        box-shadow: -15px 15px $primary-color;
        background: $light-text-color;
        position: relative;
        top: -125px;
    }

    &__input--contact {
        background: $light-text-color;
    }

    &__message--contact {
        background: $light-text-color;
    }
}







