//-------------
// Main page---
//-------------

// About block
.about {
    background: $background-color;
    text-align: center;
    padding: 200px 125px;

    &__heading {
        font-size: clamp(4rem, 4vw, 5.8rem);
    }
}

// workshop block
.workshop {

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        width: 40%;
    }

    &__column--left {
        text-align: right;
    }

    &__img--left {
        box-shadow: 15px 15px $primary-color;
        position: relative;
        top: -15px;
        right: 15px;
    }

    &__text-box {
        margin: 100px 0 50px 0;
    }

    &__text-box--left {
        margin-left: 75px;
    }

    &__text-box--right {
        margin-right: 75px;
    }

    &__column--right {
        text-align: left;
    }

    &__img--right {
        box-shadow: -15px 15px $primary-color;
        position: relative;
        bottom: -15px;
        left: 15px;
    }
}

// More info block 

.more-info {
    background: $background-color;
    padding: 100px 0;

    &__grid-container {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        grid-template-rows: 50% 50%;
    }

    &__icon {
        margin-right: 10px;
        font-size: clamp(1.6rem, 2vw, 2.5rem);
        .fa-circle {
            color: $primary-color;
        }
        .shape {
            color: #000;
        }
    }
}

// Founder block 

.founder {
    background: $background-color;

    &__flex {
        padding: 75px 0;
        display: flex;
        justify-content: space-between;
    }

    &__img-box {
        width: 20%;
    }

    &__img {
        box-shadow: 10px 10px $primary-color;
    }

    &__text {
        width: 75%;
    }
}

// Gallery section styles 

.gallery {

    &__ul {
        display: flex;
        padding: 75px
    }

    // Zoom effect 
    &__li {
        overflow: hidden;
    }

    &__li--center {
        margin: 0 20px;
    }

    // Zoom effect 
    &__img {
        transition: transform .5s;
        &:hover {
            transform: scale(1.25);
        }
    }
}

//-----------------
//----Blog Page----
//-----------------  

// flex container 
.main-blog {
    background: $background-color;
    display: flex;
    justify-content: space-between;
}

// Sidebar block
.sidebar {
    width: 35%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__img {
        box-shadow: 15px 0 $light-text-color;
    }

    &__text-box {
        width: 80%;
        margin-right: -15px;
        padding: 0px 60px 20px 10px;
        align-self: flex-end;
        
        background: $light-text-color;
    }

    &__heading {
        font-size: clamp(1.8rem, 1.2vw, 2rem);
        margin: 20px 0 15px 0;
    }

    &__text {
        line-height: 2.6rem;
    }

    &__link-text {
        color: $secondary-text-color;
        font-style: italic;

        &:hover {
            font-weight: bold;
        }
        &:focus {
            font-weight: bold;;
        }
    }

    &__list {
        list-style: disc;
        list-style-position: inside;
        color: $secondary-text-color;
    }

    &__links {
        color: $body-text-color;
        font-family: $secondary-font;
        line-height: 2.6rem;
    }
}

//blog block
.blog-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__img {
        box-shadow: -15px 15px $primary-color;
        margin-top: -100px;
        width: 95%;
    }

    &__blog-post {
        padding: 50px 0 0 20px;
        border-left: 4px solid $primary-color;
        border-bottom: 4px solid $primary-color;
        margin-left: -15px;
    }

    &__date {
        display: block;
        margin-bottom: 35px;

        color: $secondary-text-color;
        font-style: italic;

        &--bold {
            font-weight: bold;
        }
    }
}

// Comments block

.comments {
    padding: 30px;

    &__heading {
        margin-bottom: 40px;
    }

    &__container {
        display: flex;
        margin-bottom: 70px;
    }

    &__img {
        max-height: 75px;
        max-width: 75px;
        margin-right: 20px; 
    }

    &__heading--date {
        margin-bottom: 10px;
        color: $secondary-text-color;
        font-size: clamp(1.8rem, 1.5vw, 2.2rem);
    }
}

//Form block (main styles)
.form {
    width: 100%;

    &__fieldset {
        border: none;
    }

    &__input {
        border: none; 
        border-bottom: 2px solid $secondary-color;
        padding: 20px;
        width: calc(50% - 15px);

        background: $background-color;

        font-family: $primary-font;
    }

    &__input--margin {
        margin-right: 20px;
    }

    &__message {
        border: 2px solid $secondary-color;
        display: block;
        width: 100%;
        margin: 50px 0;
        padding: 20px;

        background: $background-color;

        font-family: $primary-font;
        
        resize: none;
    }

    &__btn {
        display: block;
        width: 100%;
        border: none;
    }
}

//--------------------
//----Contact Page----
//--------------------

.main-contact {
    min-height: 50vh;
    background: $background-color;
}

// Flex container 
.contact-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Address block 
.address {
    width: 30%;
    line-height: 1.5;
    
    &__ul {
        display: flex;
    }

    &__socials-link {
        padding-right: 20px;

        i {
            color: $secondary-color;
            font-size: 2.4rem;
            transition: transform .5s;

            &:hover {
                transform: scale(1.25);
            }
        }

        &:focus {
            transform: scale(1.25);
            border: 1px solid $secondary-color;
        }
    }

    &__email {
        margin: 15px 0;
    }

    &__email-link {
        color: $body-text-color;
        font-size: 2.4rem;
        font-weight: bold;
    }
}

// Form block (main styles declared in blog section)
.main-contact .form {
    width: 60%;

    &__fieldset--contact {
        box-shadow: -15px 15px $primary-color;
        background: $light-text-color;
        position: relative;
        top: -125px;
    }

    &__input--contact {
        background: $light-text-color;
    }

    &__message--contact {
        background: $light-text-color;
    }
}







