

@media (max-width: 1020px) {
    //General
    .section__text {
        font-size: 1.6rem;
    }
    
    // Main 
    .main-header__img {
        width: 50%;
    }

    .about {
        padding: 100px 0;
    }

    .workshop__text-box {
        margin: 50px 0 25px 0;

        &--left {
            margin-left: 25px;
        }
        &--right {
            margin-right: 25px;
        }
    }

    .gallery__ul {
        padding: 15px
    }

    


}














.nav {
    // show bars 
    // &__check, .nav__check-label {
    //     display: inline;
    // }

    // Hide checkbox 
    // &__check {
    //     position: fixed;
	// 	right: 1rem;
	// 	opacity: 0;
    // }



}