body,
p,
h1,
h2,
ul,
span,
h3 {
    margin: 0;
    padding: 0;
}

html {
     font-size: 62.5%;
}

body {
     font-size: 1.6rem;
     line-height: 1.4;
}

.wrapper {
     width: 85%;
     max-width: 1250px;
     margin: 0 auto;
}

img {
     width: 100%;
     height: auto;
     display: block;
}

a {
     text-decoration: none;
     color: #000;
}
