// Colour Variables 
$primary-color: #f8e71c; //Yellow
$secondary-color: #0e902d; //lighter green
$background-color: #f0efed; //off white
$body-text-color: #2c2c2c; //dark grey
$secondary-text-color: #074115; //darker green
$light-text-color: #fff; //white

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Import Partials 
@import "partials/setup";
@import "partials/general-style";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/media-queries";
