// Colour Variables 
$primary-color: #f8e71c;
$secondary-color: #0e902d;
$background-color: #f0efed;
$body-text-color: #2c2c2c;
$secondary-text-color: #074115;
$light-text-color: #fff;

//set variables for hover states?

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Import Partials 
@import "partials/setup";
@import "partials/general-style";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/media-queries";
