html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
p,
h1,
h2,
ul,
span,
time,
ul,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #2c2c2c;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1.6rem, 1.46vw, 2rem);
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

.span-break {
  display: block;
}

.section__btn {
  padding: 10px 15px;
  background: #0e902d;
  color: #fff;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.section__btn:hover {
  background: #13be3c;
}

.section__btn:focus {
  background: #13be3c;
  border: 2px solid #f8e71c;
}

.section__heading {
  font-size: clamp(2.5rem, 2.3vw, 3.6rem);
  font-weight: bold;
  letter-spacing: 1px;
}

.section__text {
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
  line-height: 3.2rem;
}

h1 {
  font-size: 8rem;
  -webkit-animation: fade-in 2s ease-in .3s normal both;
          animation: fade-in 2s ease-in .3s normal both;
  margin-bottom: 40px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-header {
  position: relative;
  min-height: 75vh;
  background: url("../assets/home-image-1.jpg") no-repeat scroll center/cover;
}

.main-header__heading-box {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__heading {
  color: #fff;
  font-size: clamp(7rem, 9.5vw, 16.6rem);
  font-weight: 400;
  z-index: 20;
}

.main-header__heading .yellow-heading {
  display: block;
}

.main-header__img {
  width: 40%;
  position: absolute;
  bottom: -50px;
  right: 0%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.nav__logo {
  font-size: clamp(3rem, 2.2vw, 3.6rem);
  padding-right: 20px;
  color: #fff;
}

.nav__skip {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  padding: 10px 15px;
  background: #0e902d;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav__skip:focus {
  left: 50%;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__li {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav__li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.nav__link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav__link:hover, .nav__link:focus {
  color: #f8e71c;
  text-shadow: -1px 2px 8px #f8e71c;
}

.current-page {
  color: #f8e71c;
}

.yellow-heading {
  color: #f8e71c;
}

.contact-header {
  background: url("../assets/contact-header-1.jpg") no-repeat scroll center/cover;
  min-height: 75vh;
}

.blog-header {
  background: url("../assets/blog-header-1.jpg") no-repeat scroll center/cover;
  min-height: 75vh;
}

.contact-nav-container,
.blog-nav-container {
  background: #000;
  padding: 10px 0;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-h1-container {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about {
  background: #f0efed;
  text-align: center;
  padding: 200px 125px;
}

.about__heading {
  font-size: clamp(4rem, 4vw, 5.8rem);
}

.workshop__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workshop__column {
  width: 40%;
}

.workshop__column--left {
  text-align: right;
}

.workshop__img--left {
  -webkit-box-shadow: 15px 15px #f8e71c;
          box-shadow: 15px 15px #f8e71c;
  position: relative;
  top: -15px;
  right: 15px;
}

.workshop__text-box {
  margin: 100px 0 50px 0;
}

.workshop__text-box--left {
  margin-left: 75px;
}

.workshop__text-box--right {
  margin-right: 75px;
}

.workshop__column--right {
  text-align: left;
}

.workshop__img--right {
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  position: relative;
  bottom: -15px;
  left: 15px;
}

.more-info {
  background: #f0efed;
  padding: 100px 0;
}

.more-info__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto 1fr;
      grid-template-columns: auto 1fr auto 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.more-info__icon {
  margin-right: 10px;
  font-size: clamp(1.6rem, 2vw, 2.5rem);
}

.more-info__icon .fa-circle {
  color: #f8e71c;
}

.more-info__icon .shape {
  color: #000;
}

.founder {
  background: #f0efed;
}

.founder__flex {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.founder__img-box {
  width: 20%;
}

.founder__img {
  -webkit-box-shadow: 10px 10px #f8e71c;
          box-shadow: 10px 10px #f8e71c;
}

.founder__text {
  width: 75%;
}

.gallery__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px;
}

.gallery__li {
  overflow: hidden;
}

.gallery__li--center {
  margin: 0 20px;
}

.gallery__img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.gallery__img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.main-blog {
  background: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar {
  width: 35%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar__img {
  -webkit-box-shadow: 15px 0 #fff;
          box-shadow: 15px 0 #fff;
}

.sidebar__text-box {
  width: 80%;
  margin-right: -15px;
  padding: 0px 60px 20px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #fff;
}

.sidebar__heading {
  font-size: clamp(1.8rem, 1.2vw, 2rem);
  margin: 20px 0 15px 0;
}

.sidebar__text {
  line-height: 2.6rem;
}

.sidebar__link-text {
  color: #074115;
  font-style: italic;
}

.sidebar__link-text:hover {
  font-weight: bold;
}

.sidebar__link-text:focus {
  font-weight: bold;
}

.sidebar__list {
  list-style: disc;
  list-style-position: inside;
  color: #074115;
}

.sidebar__links {
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  line-height: 2.6rem;
}

.blog-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog-section__img {
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  margin-top: -100px;
  width: 95%;
}

.blog-section__blog-post {
  padding: 50px 0 0 20px;
  border-left: 4px solid #f8e71c;
  border-bottom: 4px solid #f8e71c;
  margin-left: -15px;
}

.blog-section__date {
  display: block;
  margin-bottom: 35px;
  color: #074115;
  font-style: italic;
}

.blog-section__date--bold {
  font-weight: bold;
}

.comments {
  padding: 30px;
}

.comments__heading {
  margin-bottom: 40px;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.comments__img {
  max-height: 75px;
  max-width: 75px;
  margin-right: 20px;
}

.comments__heading--date {
  margin-bottom: 10px;
  color: #074115;
  font-size: clamp(1.8rem, 1.5vw, 2.2rem);
}

.form {
  width: 100%;
}

.form__fieldset {
  border: none;
}

.form__input {
  border: none;
  border-bottom: 2px solid #0e902d;
  padding: 20px;
  width: calc(50% - 15px);
  background: #f0efed;
  font-family: "Josefin Sans", sans-serif;
}

.form__input--margin {
  margin-right: 20px;
}

.form__message {
  border: 2px solid #0e902d;
  display: block;
  width: 100%;
  margin: 50px 0;
  padding: 20px;
  background: #f0efed;
  font-family: "Josefin Sans", sans-serif;
  resize: none;
}

.form__btn {
  display: block;
  width: 100%;
  border: none;
}

.main-contact {
  min-height: 50vh;
  background: #f0efed;
}

.contact-flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  width: 30%;
  line-height: 1.5;
}

.address__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address__socials-link {
  padding-right: 20px;
}

.address__socials-link i {
  color: #0e902d;
  font-size: 2.4rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.address__socials-link i:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.address__socials-link:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  border: 1px solid #0e902d;
}

.address__email {
  margin: 15px 0;
}

.address__email-link {
  color: #2c2c2c;
  font-size: 2.4rem;
  font-weight: bold;
}

.main-contact .form {
  width: 60%;
}

.main-contact .form__fieldset--contact {
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  background: #fff;
  position: relative;
  top: -125px;
}

.main-contact .form__input--contact {
  background: #fff;
}

.main-contact .form__message--contact {
  background: #fff;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  background: #2c2c2c;
  color: #fff;
  padding: 5px;
}

footer a {
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer a:hover, footer a:focus {
  color: #f8e71c;
}

@media (max-width: 1020px) {
  .main-header__img {
    width: 50%;
  }
  .about {
    padding: 100px 0;
  }
  .workshop__text-box {
    margin: 50px 0 25px 0;
  }
  .workshop__text-box--left {
    margin-left: 25px;
  }
  .workshop__text-box--right {
    margin-right: 25px;
  }
  .gallery__ul {
    padding: 15px;
  }
}

@media (max-width: 790px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__logo {
    text-shadow: 2px 4px 3px black;
  }
  .nav__ul {
    display: block;
    z-index: 10;
  }
  .nav__li {
    padding: 10px 0;
  }
  .nav__link {
    padding: 10px 0;
    text-shadow: 2px 4px 3px black;
  }
  .contact-nav-container,
  .blog-nav-container {
    background: rgba(0, 0, 0, 0);
  }
  .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header {
    min-height: 50vh;
  }
  .main-header__heading-box {
    height: 100%;
  }
  .secondary-h1-container {
    min-height: 50hv;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog-header,
  .contact-header {
    max-height: 50vh;
  }
  .workshop__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workshop__column {
    width: 100%;
    text-align: center;
  }
  .workshop__column--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workshop__img--right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
  .workshop__text-box {
    margin: 20px 20px;
  }
  .more-info__grid-container {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  .founder__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .founder__img-box {
    width: 50%;
    margin: 0 auto 20px auto;
  }
  .founder__text {
    width: 100%;
    text-align: center;
  }
  .gallery__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__li--center {
    margin: 0;
  }
  .gallery__li {
    margin: 20px 0;
    width: 80%;
  }
  .gallery__img {
    -webkit-transition: none;
    transition: none;
  }
  .gallery__img:hover {
    -webkit-transform: none;
            transform: none;
  }
  .main-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    width: 100%;
    margin-top: 0;
  }
  .sidebar__img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 2px solid #f8e71c;
  }
  .sidebar__text-box {
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }
  .blog-section {
    width: 100%;
  }
  .blog-section__img {
    margin-top: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-section__blog-post {
    border-left: none;
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address {
    width: 100%;
    margin: 20px 0;
  }
  .main-contact .form {
    width: 100%;
  }
  .main-contact .form__fieldset--contact {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 480px) {
  .main-header__img {
    display: none;
  }
  .comments {
    padding: 10px;
  }
  .comments__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    display: block;
    width: 100%;
  }
}
